.projectOuter {
	width: 33%;
	padding: 0;
	margin-top: 1rem;
	height: 202px;
}

.project {
	margin: 0 0.4rem 0 0.4rem;
	padding: 16px 1rem 16px 1rem;
	border: 0 solid #7d97ad;
	height: 170px;
	display: flex;
	flex-direction: column;
	/* https://www.w3schools.com/howto/howto_css_cards.asp */
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	transition: 0.4s;
	border-radius: 0.2rem;
	opacity: 0.88;
}

.project:hover {
	box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
	opacity: 1.0;
	transition-delay:0.2s;
}

.projectTitleSmall, .projectTitle {
	min-height: 2rem;
	height: auto;
	display: flex;
	flex-direction: row;
}

.projectTitle {
	font-size: 1.5rem;
}

.projectTitleSmall {
	font-size: 1.3rem;
}

.projectName {
	margin-right: 1rem;
}

.projectDate {
	font-size: 0.8rem;
	display: inline-block;
	opacity: 0.85; /* default for non title */
}

.projectDesc {
	margin-top: 0.5rem;
	flex-grow: 100;
	opacity: 0.75;
	/*padding: 0.3rem;*/
	/*border-radius: 1rem;*/
	/*border: 1px dotted;*/
}

.projectDesc:hover {
	cursor: pointer;
	opacity: 0.8;
}

.projectTags {
	margin-top: 1rem;
}

.projectLinks {
	margin-left: 1rem;
}

/** Media queries **/

@media all and (max-width: 1200px) {
	.project {
		margin: 0 0.35rem 0 0.35rem;
	}
}

@media all and (max-width: 1155px) {
	.projectTitle {
		font-size: 1.3rem;
	}
	.projectTitleSmall {
		font-size: 1.1rem;
	}
}

@media all and (max-width: 1000px) {
	.projectOuter {
		width: 50%;
	}
	.project {
		margin: 0 0.5rem 0 0.5rem;
	}
}

@media all and (max-width: 820px) {
	.projectOuter {
		height: 212px;
	}
	.project {
		height: 180px;
	}
	.projectTitle, .projectTitleSmall {
		min-height: unset;
		/*flex-wrap: wrap;*/
	}
}

@media all and (max-width: 600px) {
	.projectOuter {
		height: 232px;
	}
	.project {
		height: 200px;
		margin: 0 0.35rem 0 0.35rem;
	}
}

@media all and (max-width: 550px) {
	.projectOuter {
		width: 100%;
		height: 202px;
	}
	.project { /* single col*/
		height: 170px;
		max-width: 85%;
		margin: 0 auto 0 auto;
	}
}

@media all and (max-width: 400px) {
	.project {
		max-width: 90%;
	}
}

@media all and (max-width: 350px) {
	.projectOuter {
		height: 222px;
	}
	.project {
		height: 190px;
	}
}
