.project {
	width: 29%;
	margin-top: 1rem;
	padding: 1rem 1rem 1rem 1rem;
	border: 1px solid #7d97ad;
	/** this is tricky, can't rely on justify-content **/
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	z-index: 2;
	font-weight: normal;
}

.projectTitle {
	font-size: 1.5rem;
}

.projectDesc {
	margin-top: 0.9rem;
}

.projectTags {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.projectLinks {
	margin-left: 1rem;
}

.logo {
	width: 1rem;
	height: 1rem;
}
