.project {
	width: 29%;
	margin-top: 1rem;
	padding: 1rem 1rem 1rem 1rem;
	border: 1px solid #7d97ad;
	/** this is tricky, can't rely on justify-content **/
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	height: 170px;
	display: flex;
	flex-direction: column;
}

.projectTitle {
	font-size: 1.5rem;
}

.projectDate {
	font-size: 0.8rem;
	display: inline-block;
}

.projectDesc {
	margin-top: 0.5rem;
}

.projectTags {
	margin-top: 1rem;
}

.projectLinks {
	margin-left: 1rem;
}

.emptySpace {
	flex-grow: 100;
}
