.search {
	border-top: 0;
	border-right: 0;
	font-size: 1rem;
	border-left: 0;
	width: 60%;
	max-width: 600px;
	align-self: center;
	padding-bottom: 0.5rem;
}

.search:focus {
	outline: none !important;
}
