.page {
	max-width: 1000px;
}

.backLink {
	text-decoration: none;
	color: inherit;
	margin-right: 1rem;
}

.name {
	margin-top: 1rem;
	font-size: 3rem;
}

.hr {
	margin: 1rem auto 1rem auto;
	width: 95%;
	height: 1px;
	background-color: lightgrey;
}

.ghButton {
	margin-top: 1rem;
}

.links {
	margin-top: 1.5rem;
	font-size: 1.3rem;
}

.links a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	font-size: 1rem;
	border-bottom: 1px dotted;
}

.links div {
	margin-bottom: 0.5rem;
}

.desc {
	margin-top: 1.5rem;
	font-size: 1.2rem;
}

.tags {
	margin-top: 1.5rem;
}



@media all and (max-width: 1100px) {
	.page {
		width: 90%;
	}
	.name {
		font-size: 2.5rem;
	}
}

@media all and (max-width: 600px) {
	.name {
		font-size: 1.3rem;
	}
	.backLink {
		font-size: 2rem;
	}
	.desc, .links {
		font-size: 100%;
	}
	.links a {
		font-size: 0.8rem;
	}
}
