.app {
	margin: 2rem auto 0 auto;
	width: 95%;
	max-width: 1200px;
	font-family: "Raleway", "Times New Roman", sans-serif;
}

.headerDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*justify-content: space-between;*/
}
