.app {
	margin: 0 auto 0 auto;
	width: 95%;
	max-width: 1200px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: "Raleway", "Times New Roman", sans-serif;
}

.headerDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1rem;
}

.content {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: wrap;
	flex-grow: 100;
}

.footerDiv {
	font-size: 0.9rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	color: slategray;
}

.footerDiv a {
	text-decoration: none;
	border-bottom: 1px dotted;
	color: inherit;
}


/** General styles **/

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
